/* This file is for your main application css. */

@import "./phoenix.css";

.clearfix {
    clear: both;
}

#logo-container {
    vertical-align: bottom;
}

#page-logo {
    font-family: "DomaineDisplayNarrow", Georgia, serif;
    float: left;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    font-size: 2em;
}

#slogan {
    float: left;
    color: #888;

    padding: 0;
    padding-left: 7px;
    border-left: 1px solid #888;
    margin-left: 7px;
    font-size: 1.1em;

    margin-top: 1.1em;
    margin-bottom: 0.5em;
    letter-spacing: 0.05px;
    
}

.main-container {
    padding-top: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.84);
}

.main-title h1 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin-bottom: 1em;
    float: left;
}

.main-title .button-group {
    float: right;
}

.main-title button {
    border: 1px solid rgba(0, 0, 0, 0.52);
    background-color: white;
    color: rgba(0, 0, 0, 0.84);
    padding-left: 15px;
    padding-right: 15px;
    text-transform: none;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 430;
    font-size: 0.8em;
}

.main-title .primary {
    color: rgba(3, 168, 124, 1);
    border-color: rgba(3, 168, 124, 1);
    font-weight: 500;
}

.main-title::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.container {
    max-width: 1080px;
}

.tabs {
    display: block;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
    margin-bottom: 0;
}

.tabs::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.tabs li {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
    padding-bottom: 0.4em;
}

.tabs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9em;
}

.tabs .active a, .tabs a:hover {
    color: rgba(0, 0, 0, 0.84);
}

.tabs .active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.article-list {
    list-style: none;
}

.article-list a {
    text-decoration: none;
}

.article-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.article-list .article-list-title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.article-list .article-list-preview {
    font-size: 1.0em;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0.5em;
}

.article-list .article-list-details {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0.5em;
}

/* +++++++++++++++++++ */

.article {
    padding-left: 11em;
    padding-right: 11em;
}

.article p, .article li {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    color: rgba(0,0,0,.84);
    font-size: 1.4em;
}

.article img {
    width: 100%;
    margin-bottom: 1.5em;
}

.article-info {
    margin-bottom: 2.5em;
}

.article-info p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9em;
}

.article-info::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.article-info .author-thumb {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-right: 0.8em;
}

.article-info .article-info-details {
    float: left;
}

.article-info .article-info-details p {
    margin-bottom: 0;
}

.article-info .article-info-details .meta {
    color: rgba(0,0,0,.54);
}

tt {
    background-color: rgba(0,0,0,.05);
    padding: 3px 4px;
}

.article-title {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 3em;
}

.article h2, .article h3, .article h4, .article h5, .article h6 {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: bold;
}

.article h2 {
    font-size: 1.8em;
    margin-bottom: 0.4em;
    margin-top: 1.7em;
}

pre {
   font-family: Menlo,Monaco,"Courier New",Courier,monospace; 
   background-color: rgba(0,0,0,.05);
   color: rgba(0,0,0,.84);
   padding: 20px;
   white-space: pre-wrap;
   border: 0;
   margin-top: 3em;
   margin-bottom: 3em;
}

ol {
    list-style-position: outside;
    margin-left: 1.5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

ol li {
    margin-bottom: 1em;
}

a {
    color: rgba(0,0,0,.84);
    text-decoration: underline;
}

.tags {
    padding: 0;
    list-style: none;
    margin-bottom: 2em;
    padding: 0;
    font-size: 0.65em;
}

.tags::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.tags li {
    color: rgba(0,0,0,.68);
    background: rgba(0,0,0,.05);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 3px;
    float: left;
    margin-right: 0.5em;
}

.tags li a {
    text-decoration: none;
}

.author-info {
    border-top: 1px solid rgba(0,0,0,.05);
    margin-top: 2em;
    padding-top: 1em;
    margin-bottom: 2.5em;
}

.author-info p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
}

.author-info::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.author-info .author-thumb {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    margin-right: 1em;
}

.author-info .author-info-details {
    float: left;
    width: 80%;
}

.author-info .author-info-details p {
    margin-bottom: 0;
}

.author-info .author-info-details .name {
    font-weight: bold;
}

.author-info .author-info-details .bio {
    font-size: 1em;
}

.article-bottom {
    background-color: #fafafa;
    padding-left: 1000px;
    margin-left: -1000px;
    padding-right: 1000px;
    margin-right: -1000px;
    padding-top: 2em;
    padding-bottom: 3em;
}
.article-bottom::after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.preview-card {
    background-color: white;
    box-shadow: 0 1px 7px rgba(0,0,0,.20);
    float: left;
    padding: 0;
    list-style: none;
    margin-right: 3%;
    width: 30%;
    border-radius: 4px;
    overflow: hidden;
    min-height: 320px;
}

.preview-card a {
    text-decoration: none;
}

.preview-card p {
    padding-top: 1em;
    margin: 0;
}

.preview-card .relationship-type  {
    color: rgba(0,0,0,.54);
}

.preview-card .article-header {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0;

}

.preview-card .card-content {
    padding: 1em;
    padding-top: 0;
    padding-bottom: 2em;
}

#footer-menue {
    border-top: 1px solid rgba(0,0,0,.05);
    text-align: center;
    padding-top: 0.5em;
}

#footer-menue a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

#footer-menue a:hover {
    color: rgba(0,0,0,.84);
}