<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
</section>

<section class="row">
  <article class="column">
   <ul>
    <%= for a <- @articles do %>
      <li><%= a.name %></li>
    <%= end %>
   </ul>
  </article>
</section>
